.App {
  text-align: center;
}

.title {
  height: 70px;
  line-height: 70px;
  background-color: rgb(20, 31, 0);
  color: white;
}

.list {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid darkolivegreen;
}
span {
  margin-left: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.modal {
  margin-top: 20px;
  text-align: left;
  background-color: rgb(208, 222, 182);
  padding: 5px 0 5px 10px;
}

.addBtn {
  margin-top: 10px;
}

.deleteBtn {
  margin-bottom: 10px;
}