.App {
  text-align: center;
}

.main-bg {
  height: 500px;
  background-image: url("../public/img/main_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
img {
  width: 80%;
}