.App {
  text-align: center;
}

.main-bg {
  height: 500px;
  background-image: url("../public/img/main_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
img {
  width: 80%;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 1s;
}

/* 크기 조절 애니메이션 */
/*
.start {
  transform: scale(0);
}

.end {
  transform: scale(1);
  transition: all 1s;
}
*/